
.navbarui{
  background-color: #376fc7;
  color: white;
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logo{
  background-color: white;
  /* border-radius: 0.5rem; */
}
.search-button{
  padding-left: 10px;
  font-size: 1.3rem;
  margin:auto;
}

.nav-routes{
  padding: 0 20px;
  font-size: 20px;

}
.input-bar{
  display: flex;
  align-items: center;
}